 .custom-announcementbar--{{ section.id }}{
      padding-top:{{ section.settings.padding_top | divided_by:2 }}px;
      padding-bottom:{{ section.settings.padding_bottom | divided_by:2 }}px;
      background-color: {{section.settings.backgrond_color}};
  }
  .custom-announcementbar--text{
  line-height: 1.5;
  text-align:center;
  font-size : {{ section.settings.font_size_for_mobile }}px;
  color: {{ section.settings.text_color }};
  font-weight: {{ Section.settings.font_weight }};
  }

  #customSlideshow .splide__arrow{
      background-color:transparent;
  }
  #customSlideshow .splide__arrow svg{
      fill:#ffffff;
      height:18px;
      width:18px;
  }
  .custom-announcementbar--navigation_styles{
      text-decoration:none;
      outline:none;
      margin-left:15px;
      color:{{ section.settings.text_color }}
  }

  @media screen and (min-width:749px){
      .custom-announcementbar--{{ section.id }}{
          padding-top:{{ section.settings.padding_top }}px;
          padding-bottom:{{ section.settings.padding_bottom }}px;
      }
      .custom-announcementbar--splide-container{
          width:600px;
          margin : 0 auto;
      }
       .custom-announcementbar--text{
      font-size: {{ section.settings.fontsize_for_desktop }}px;
      }
  }

  .custom-announcementbar--splide-container{
      max-width:100%;
      margin:0 auto;
  }